.feature {
  background-color: var(--secondary);
  color: var(--primary-text);
  display: flex;
  align-items: center;
  gap: 2rem;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 0.4rem;
  min-height: 5rem;
}

.left {
  flex-direction: row;
}

.right {
  flex-direction: row-reverse;
}

.noImage {
  justify-content: center;
}

.text {
  padding: 1rem;
  flex: 1;
}

.text p {
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50)
}