
.homeContent {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-top: var(--nav-height);
}

/* Page border styles */
.homeContent::before,
.homeContent::after {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  width: calc((100% - 1200px) / 2);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: var(--z-content);
}

.homeContent::before {
  left: 0;
}

.homeContent::after {
  right: 0;
}

.imageWrapper {
  color: white; /* Alt text color */
}

.flipped {
  transform: scaleX(-1);
}

/* Media queries */
@media (max-width: 1200px) {
  .homeContent::before,
  .homeContent::after {
    display: none;
  }
}