
.homeContent {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-top: var(--nav-height);
}

/* Page border styles */
.homeContent::before,
.homeContent::after {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  width: calc((100% - 1200px) / 2);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: var(--z-content);
}

.homeContent::before {
  left: 0;
}

.homeContent::after {
  right: 0;
}

.imageWrapper {
  color: white; /* Alt text color */
}

.quizSection {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.quizOverlay {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(61%) scaleX(-1);
  z-index: 1;
  pointer-events: none;
}

.flipped {
  transform: scaleX(-1);
}

@media (max-width: 1400px) {
  .quizOverlay {
    right: -50px;
    width: 200px;
    height: auto;
  }
}

/* Media queries */
@media (max-width: 1200px) {
  .homeContent::before,
  .homeContent::after {
    display: none;
  }
    .quizOverlay {
    display: none;
  }
}
